<div *ngIf="land">
    <h2>{{land.name}} details</h2>
    <div><label>Id: </label>{{land.id}}</div>    
    <div>
        <form>
            <div class="form-group">
                <label>landnaam<input class="form-control" [(ngModel)]="land.name" name="name" placeholder="name"></label>                
            </div>
            <div class="form-group">
                <label>inwoners<input class="form-control" [(ngModel)]="land.inwoners" name="inwoners" type="number" /></label>                
            </div>
            <div class="form-group">
                <button class="btn" (click)="save()">Save</button>
                <button class="btn" (click)="goBack()">go back</button>
            </div>
        </form>
    </div>    
</div>